l2emuproject-netpro-app/config/schemata/ipalias.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.l2emu-unique.net" targetNamespace="http://www.l2emu-unique.net"
	elementFormDefault="qualified">

	<xs:element name="addresses">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="address" type="aliasType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="aliasType">
		<xs:attribute name="ip" type="xs:token" use="required" />
		<xs:attribute name="alias" type="xs:token" use="required" />
	</xs:complexType>
</xs:schema>
